@use "colors.scss";

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Italic.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Black.ttf") format("truetype");
  font-weight: 900; /* Black weight (extra-bold) */
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-image:hover {
  transform: scale(1.1);
}

.item-list-card {
  max-width: 350px;
  max-height: 550px;
}

.item-image {
  width: 350px;
  max-width: 100%;
}

.item-list-card:hover .item-image {
  transform: scale(1.1);
  cursor: pointer;
}

header {
  display: flex;
  .logo {
    padding: 2rem;
    width: 400px;
    max-width: 30%;
    font-size: 40px;
    white-space: nowrap;
    cursor: pointer;
    background: rgb(121, 118, 118);
  }

  .logoLink {
    text-decoration: none;
  }

  // nav {
  //     width: 100%;
  //     display: flex;
  //     justify-content: flex-end;
  //     // .inner-nav {
  //     //     height: fit-content;
  //     //     max-width: 700px;
  //     //     display: flex;
  //     //     gap: 1rem;
  //     //     background-color: colors.$black;
  //     //     padding: 1rem 2rem;
  //     //     border-radius: 0 0 0 10px;
  //     //     a {
  //     //         font-size: 1.3em;
  //     //         color: colors.$blue;
  //     //         text-decoration: none;
  //     //     }

  //     //     a:hover {
  //     //         color: colors.$lightblue;
  //     //         cursor: pointer;
  //     //     }
  //     // }
  // }
}

.cat-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .desktop-categories {
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.1em;
    display: flex;
    gap: 1rem;
    color: rgb(20, 20, 18);

    // Dropdown

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #e3dec1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
      flex-direction: column;
      gap: 0.5rem;
      right: 0;
    }

    .dropdown:hover {
      color: colors.$blue;
    }
    .dropdown:hover .dropdown-content {
      display: flex;
    }
  }

  .mobile-categories {
    position: relative;
    margin-right: 40px;
    .icon {
      font-size: 1.5em;
    }
    .dropdown {
      display: flex;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
      flex-direction: column;
      gap: 0.5rem;
      right: 0;
    }

    .subcatlink {
      margin-left: 0.5rem;
    }
  }

  // Applies to both mobile and desktop
  li {
    list-style: none;
    color: colors.$blue;
    a {
      text-decoration: none;
    }
  }
  li:hover {
    color: colors.$lightblue;
    cursor: pointer;
  }
}
.collection {
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #f9f9f9;
}
.main-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

// For admin pages we want specific max widths to make data easier to view and less stretched
.admin-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .admin-content {
    width: 1200px;
    max-width: 100%;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.header {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 1rem;
  padding-top: 1rem;

  background-color: #e4c990;
  box-shadow: none; /* Subtle shadow for depth */
  .logo-link-styles {
    text-decoration: none;
  }
  .header-logo {
    font-size: 30px; /* Large font for emphasis */
    font-weight: bold; /* Make the text bold */
    color: #181717;
    text-transform: uppercase; /* Make the logo text uppercase */
    letter-spacing: 2px; /* Add some spacing between letters */
    background: linear-gradient(
      135deg,
      #e608a3,
      #e67e08
    ); /* Gradient effect inside the text */
    -webkit-background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent; /* Make the background visible through the text */
    text-shadow: 2px 2px 5px rgba(44, 10, 213, 0.1);

    cursor: pointer;

    /* Smooth transition for hover effect */
    transition: all 0.3s ease;
  }
  .header-logo:hover {
    /* Glow effect to make the logo stand out on hover */
    text-shadow:
      0 0 15px rgba(255, 255, 255, 0.8),
      0 0 25px rgba(255, 0, 255, 0.5),
      0 0 40px rgba(255, 0, 255, 0.7);
    transform: scale(1.1); /* Slightly enlarge on hover for interactive feel */
  }
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative; /* Positioned under the header */
  width: 100%;
  top: 0; /* Ensures the nav is positioned directly under the header */
  transition: all 0.3s ease;
  flex-direction: row; /* Align items horizontally */
  margin-top: 0; /* No extra spacing */
  background-color: #e4c990;

  .inner-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
  }

  .nav-links {
    text-decoration: none; /* Remove underline */
    color: #e2e8f0; /* Light gray color for links */
    padding: 8px 16px; /* Padding around the link */
    font-size: 14px; /* Font size */
    border-radius: 8px; /* Rounded corners */
    transition:
      background-color 0.3s,
      color 0.3s; /* Smooth transition for background and color changes */

    > svg {
      padding-right: 5px;
    }
  }
}

.latest-products {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
  * {
    font-size: 0.9em;
  }
  .nav {
    flex-direction: column; /* Stack items vertically */
    margin-top: 0px; /* Add space on mobile between logo and nav */
    .inner-nav {
      gap: 10px;
    }
    .nav-links {
      padding: 6px 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
      > svg {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 420px) {
  * {
    font-size: 0.8em;
  }
}


/* css for Category Products pages with its own search bar - salim 02 December 24 */


.collection-title-paragraph {
  font-weight: normal;
  font-style: normal;
  padding: 20px; /* Adjust padding for spacing */
  }

  .discount-text {
  border: 1px black;
  padding: 100px; /* Adjust internal padding */
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(235, 237, 238);
  box-sizing: border-box;
  }

  .collection-title-map {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100%;
  }

  .search-bar {
  margin-left: auto;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 14px;
  }
  .map-item {
  padding: 6px;
  background-color: gray;
  color: white;
  border-radius: 30px;
  font-size: 14px;
  }

  .map-divider {
  color: black;
  font-size: 14px;
  }


/* Css for Search Bar inside Navigation with its pop up box*/

.searchBoxInNav {
    position: relative;
    width: 300px;
}

.searchBoxInNav input {
    width: 100%;
}

.searchResultInNav {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
}

.searchResultItemInNav {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.searchResultItemInNav:hover {
    background-color: #f8f8e6;
}

.searchResultItemInNav img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}

.searchResultItemProductNameInNav {
    font-size: 14px;
    font-weight: bold;
}

.searchResultItemProductPriceInNav {
    font-size: 12px;
    color: gray;
}

.searchResultNoProductsFound {
    padding: 10px;
    text-align: center;
    color: gray;
    font-size: 14px;
}