@use "colors.scss";

@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400; /* Normal weight */
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Italic.ttf") format("truetype");
    font-weight: 400; /* Normal weight */
    font-style: italic;
}

@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Black.ttf") format("truetype");
    font-weight: 900; /* Black weight (extra-bold) */
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.image {
    width: "100px";
    height: "auto";
}

.item-image:hover {
    transform: scale(1.1);
}

header {
    display: flex;
    .logo {
        padding: 2rem;
        width: 400px;
        max-width: 30%;
        font-size: 40px;
        white-space: nowrap;
        cursor: pointer;
    }

    .logoLink {
        text-decoration: none;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .inner-nav {
            height: fit-content;
            max-width: 700px;
            display: flex;
            gap: 1rem;
            background-color: colors.$black;
            padding: 1rem 2rem;
            border-radius: 0 0 0 10px;
            a {
                font-size: 1.3em;
                color: colors.$blue;
                text-decoration: none;
            }

            a:hover {
                color: colors.$lightblue;
                cursor: pointer;
            }
        }
    }
}

.cat-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .desktop-categories {
        padding: 0.5rem 4rem;
        font-weight: 800;
        font-size: 1.3em;
        display: flex;
        gap: 1.5rem;
        color: colors.$black;

        // Dropdown

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
            flex-direction: column;
            gap: 0.5rem;
            right: 0;
        }

        .dropdown:hover {
            color: colors.$blue;
        }
        .dropdown:hover .dropdown-content {
            display: flex;
        }
    }

    .mobile-categories {
        position: relative;
        margin-right: 40px;
        .icon {
            font-size: 1.5em;
        }
        .dropdown {
            display: flex;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
            flex-direction: column;
            gap: 0.5rem;
            right: 0;
        }

        .subcatlink {
            margin-left: 0.5rem;
        }
    }

    // Applies to both mobile and desktop
    li {
        list-style: none;
        color: colors.$blue;
        a {
            text-decoration: none;
        }
    }
    li:hover {
        color: colors.$lightblue;
        cursor: pointer;
    }
}
.collection {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #f9f9f9;
}
.header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

// For admin pages we want specific max widths to make data easier to view and less stretched
.admin-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .admin-content {
        width: 1200px;
        max-width: 100%;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.header {
    margin: 0;
    display: flex;
    justify-content: center; /* Center the logo */
    align-items: center;
    padding: 20px; /* Add padding for spacing */
    background: linear-gradient(
        90deg,
        #614ac9,
        #cfc914
    ); /* Eye-catching gradient background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

    .header-logo {
        font-size: 28px; /* Large font for emphasis */
        font-weight: bold; /* Make the text bold */
        color: #ffffff; /* White text for contrast */
        text-transform: uppercase; /* Make the logo text uppercase */
        letter-spacing: 2px; /* Add some spacing between letters */
        background: linear-gradient(
            90deg,
            #ffffff,
            #ffd700
        ); /* Gradient effect inside the text */
        -webkit-background-clip: text; /* Clip the gradient to the text */
        -webkit-text-fill-color: transparent; /* Make the background visible through the text */
        transition: transform 0.3s ease; /* Add a smooth scaling effect */
        cursor: pointer;
    }
}
