.signin-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.signin-title {
    font-size: 21px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: gray;
}

.remember-forgot {
    text-align: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    font-size: small;
}

.remember-forgot .forgot-password {
    display: block;
    font-size: x-small;
    text-decoration: none;
    margin-top: 5px;
    color: #007BFF;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    font-size: small;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
